@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&family=Sigmar+One&display=swap");

:root {
    --font-1: "Heebo", sans-serif;
    --font-2: "Sigmar One", cursive;
    --color-1: #2f2e41;
    --color-2: #F35D60;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--font-1);
}
.section__padding {
    padding: 2rem 12rem;
}

@media screen and (max-width: 550px) {
    .section__padding {
        padding: 2rem 2rem;
    }
}
@media screen and (max-width: 950px) {
    .section__padding {
        padding: 2rem 3rem;
    }
}
